<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naturallife | <%=blog.Title%></title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../../css/blog.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="./css/owlcarousel.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body>
    <!-- header start -->
    <header id="header">
      <nav>
        <div class="logo">
          <img src="../img/logo.png" alt="LOGO" />
        </div>
        <h1>INSTITUTE OF NATURAL MEDICINE</h1>
        <div class="nav-links">
          <ul>
            <li><a href="../../">Home</a></li>
            <li><a href="../../events">Events</a></li>
            <li><a href="../../recommendation">Recommendations</a></li>
            <li><a class="active" href="../../blog">Blog</a></li>
            <li><a href="../../photoGallery">Photo Gallery</a></li>
            <li><a href="../../aboutUs">About Us</a></li>
            <li><a href="/form/reservation" class="book-now-btn">Book Now</a></li>
          </ul>
        </div>

        <div class="hamburger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>