<footer>
  <div class="flex-block">
    <div class="links animation__from__left" id="about-us-footer">
      <h3>About Us</h3>
      <img src="img/logo.png" />
      <ul>
        <li>
          <p>
            The Institute of Natural Medicine is a premium institute of its kind established in the year 1999 AD (2056
            BS) auspicious under the parent Organization’ Nepal Yoga and Nature Cure Association.
          </p>
        </li>
        <li><a href="/aboutUs">Read more</a></li>
      </ul>
    </div>
    <div class="links animation__from__top">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/recommendation">Recommendations</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/photoGallery">Photo Gallery</a></li>
        <li><a class="active" href="/aboutUs">About Us</a></li>
        <li><a href="#">Map</a></li>
      </ul>
    </div>
    <div class="links animation__from__right">
      <h3>Follow us</h3>
      <ul>
        <li>
          <img src="./img/icons/gmail.png" alt="" /><a href="#">Email</a>
        </li>
        <li>
          <img src="./img/icons/facebook-icon.png" alt="" /><a href="#">Facebook</a>
        </li>
        <li>
          <img src="./img/icons/Instagram-icon.png" alt="" /><a href="#">Instagram</a>
        </li>
        <li>
          <img src="./img/icons/tiktok-icon.png" alt="" /><a href="#">Tiktok</a>
        </li>
        <li>
          <img src="./img/icons/cell-icon.png" alt="" /><a href="#">+9779812345678</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- footer end -->

<div class="aku-developer">Developed by <a href="#">Pixelbyte</a></div>

<!-- js scripts -->
<%if (active == "form-regis"||active=="form-reser"){%>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
<script src="js/registration.js"></script>
<script src="js/registration_script.js"></script>
<%}else{%>
<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="./js/vanilla.tilt.min.js"></script>
<script>
  jQuery("#carousel").owlCarousel({
    autoplay: true,
    loop: true,
    margin: 10,
    responsiveClass: true,
    autoHeight: true,
    autoplayTimeout: 7000,
    smartSpeed: 1500,
    nav: true,
    dots: false,
    items: 1,
    autoplayHoverPause: true,
  })

  jQuery("#customer-carousel").owlCarousel({
    autoplay: true,
    loop: true,
    margin: 10,
    responsiveClass: true,
    autoHeight: true,
    autoplayTimeout: 7000,
    smartSpeed: 1500,
    nav: true,
    navigationText: ["a", "a"],
    dots: false,
    items: 1,
  })
  // Fancybox Configuration
  $('[data-fancybox="gallery"]').fancybox({
    buttons: [
      "slideShow",
      "thumbs",
      "zoom",
      "fullScreen",
      "close"
    ],
    loop: false,
    protect: true
  })

  //vanilla-tilt
  VanillaTilt.init(document.querySelectorAll(".tilt"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 0.8,
  })
</script>
<%}%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/animation.js"></script>

</body>
</html>