<%-include("partials/header")-%>

<!-- header end -->
<section class="company__details margin-top-body">
  <div class="flex-block">
    <div class="aboutUs__content animate__from left">
      <h2 class="decorative-font animate__scale delay__long">About Us</h2>
      <p>
        <strong>The Institute of Natural Medicine </strong> is a premium
        institute of its kind established in the year 1999 AD (2056 BS)
        auspicious under the parent Organization’ Nepal Yoga and Nature Cure
        Association, since last 10 years all the plans and programmers
        related with the Academic field of Yoga and Nature cure Health
        Sciences had been formed and launched by the Institute. The
        Institute of Natural Medicine has undertaken the Curriculum
        developed by Nepal Yoga and Nature Cure Association and officially
        approved by The Council for Technical Education and Vocational
        Training (CTEVT) sanothimi, Bhactapur, on 12 February 1998. AD
        (2054-10-30. BS).
      </p>
    </div>
    <div class="extended__image animate__from right delay">
      <img src="./img/Office.JPG" alt="img" />
    </div>
  </div>

  <div class="flex-block">
    <div class="owner__image animate__from left">
      <img src="./img/members/DrKarki.png" alt="img" />
      <h2>Prof. Dr. Surya Bahadur Karki</h2>
      <h3>Chairman</h3>
      <h4>Institute of Natural Medicine</h4>
      <h6>and</h6>
      <h4>Nature Cure Research and Teaching Hospital.</h4>
      <h4>(National and International Conferenece, Seminar, World Congress, Championship and Workshop Organizer)</h4>
    </div>
    <div class="aboutUs__content animate__from right delay">
      <p class="saying">
        Life is very simple, we make it very complicated by not knowing the
        art of living and behaving against nature. We could not follow the
        law of nature. As for the Nature Cure techniques, the subject is
        very simple, it is a method of going back to nature to train the
        body with simple natural processes rather than taking any kind of
        drugs."
      </p>
    </div>
  </div>
</section>

<section class="aboutUs__team">
  <h2 class="title animate__scale">Our team</h2>
  <div class="flex-block">

    <div class="aboutUs__team__card animate__from bottom delay">
      <div class="aboutUs__team__image">
        <img src="./img/members/Upesh.jpg" alt="img" />
      </div>
      <div class="abouUs__team__designation">
        <h3>Upesh Upreti</h3>
        <h4>Engineer and Web developer</h4>

      </div>
    </div>

    <div class="aboutUs__team__card animate__from left delay">
      <div class="aboutUs__team__image">
        <img src="./img/members/nabin.png" alt="img" />
      </div>
      <div class="abouUs__team__designation">
        <h3>Nabin Karki</h3>
        <h4>Spa and Massage Therapist and Teacher</h4>
      </div>
    </div>

    <div class="aboutUs__team__card animate__from right delay">
      <div class="aboutUs__team__image">
        <img src="./img/members/Shramila.jpg" alt="img" />
      </div>
      <div class="abouUs__team__designation">
        <h3>Sharmila Moktan</h3>
        <h4>National Yoga Teacher</h4>
        <h5>and</h5>
        <h4>Complementary Therapist</h4>
      </div>
    </div>

    <div class="aboutUs__team__card animate__from right delay">
      <div class="aboutUs__team__image">
        <img src="./img/members/kriti.png" alt="img" />
      </div>
      <div class="abouUs__team__designation">
        <h3>Kriti Karki</h3>
        <h4>Yogacharya</h4>
        <h5>and</h5>
        <h4>Intrnational Yoga Teacher</h4>
      </div>
    </div>

  </div>
</section>

<section class="methodology body-margin-top">
  <h2 class="title dark animate__scale">Why Institute of Natural Medicine?</h2>
  <div class="flex-block">
    <div class="extended__image animate__from left">
      <img src="./img/inm.png" alt="img" />
    </div>
    <div class="flex__column">
      <div data-number="1" class="methodology__content animate__from right delay">
        <h2>Only in Nepal</h2>
        <p>
         Institute of Medicine is the only institution in Nepal to provide CTEVT affilated yoga, massage and naturopathy courses.
        </p>
      </div>

      <div data-number="2" class="methodology__content animate__from right delay">
        <h2>Peaceful Ambiance and Proffesional Teachers</h2>
        <p>
          Being situated in one of the most dense parts of the Kathmandu, Instiute of Natural Medicine offers incridebly peacful environment.
         Teachers here are highly qualified and have years of expreince in their respective fields.
        </p>
      </div>

      <div data-number="3" class="methodology__content animate__from right delay">
        <h2>International Courses and Student Visa Assistance</h2>
        <p>
          Beside national level courses INM also helps student to getting international level certification courses. INM has also been assisting students to get international student visa.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- footer start -->
<%-include("partials/footer")-%>