<%-include("partials/header")-%>
<!-- header end -->

<!-- Body -->
<section class="body margin-top-body">
  <div class="blog">
    <h2 class="decorative-font">Courses</h2>
    <div class="container">

      
      <div class="card">
        <div class="card__header">
          <img class="img__primary adaptiveBG greyscale" src="/img/yoga.svg" alt="yoga" />
        </div>
        <div class="card__body">
          <span class="tag">Institute of Natural Medicine</span>
          <h3>Yoga Courses</h3>
          <p>
            Yoga courses for different national and international level.
          </p>
          <a href="/yoga" class="book-now-btn">Enroll Now</a>
        </div>
      </div>


      <div class="card">
        <div class="card__header">
          <img class="img__primary adaptiveBG greyscale" src="/img/Services/massage.png" alt="yoga" />
        </div>
        <div class="card__body">
          <span class="tag">Institute of Natural Medicine</span>
          <h3>Massage Courses</h3>
          <p>
            Massage(spa) courses for different national and international level.
          </p>
          <a href="/massage" class="book-now-btn">Enroll Now</a>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- footer start -->
<%-include("partials/footer")-%>