<%-include("partials/header")-%>
  <!-- header end -->

  <!-- Body -->
  <section class="body margin-top-body">
    <div class="events">
      <h2 class="decorative-font animate__scale">Past Events</h2>
      <div class="timeline">
        <div class="container left animate__from left">
          <div class="content">
            <div class="content__headPrimary adaptiveBG greyscale">
              <h3>Conference and World Congress</h3>
            </div>
            <div class="content__body">
              <p>
                First national Conference on Yoga and Naturopathy in 2046 Bs
                at Biratnager, Nepal. Photo World Congress (2046 BS)
              </p>
              <p>
                First World Congress on Yoga and Naturopathy in 1998 at
                Kathmandu, Nepal. Photo World Congress.( 1998. AD)
              </p>
              <p>
                Seond World Congress on Yoga and Naturopathy at Kathmandu,
                Nepal. Photo World Congress(.2002.AD)
              </p>
              <p>
                First South Asia (1) Yoga Sports Championship on 6,7,8,9 May
                2017. at National Sports Council, Satdobato, Swimming Pool.
              </p>
              <p>
                First National Yoga Sports Championship on 4,5,6 Jan 2018. at
                Itahari, Sunsari.
              </p>
            </div>
          </div>
        </div>

        <div class="container right animate__from right">
          <div class="content">
            <div class="content__headTertiary adaptiveBG greyscale">
              <h3>Seminar and Workshops</h3>
            </div>
            <div class="content__body">
              <p>
                First National Workshop on Yoga and Naturopathy in 2049, at
                kathmandu, Nepal.
              </p>
              <p>
                Second National Workshop on Yoga and Naturopathy in 2054, at
                kathmandu, Nepal
              </p>
              <p>
                Third National Workshop on Yoga and Naturopathy in 2058, at
                kathmandu, Nepal
              </p>
              <p>
                Fourth National Workshop on Yoga and Naturopathy in 2066, at
                kathmandu, Nepal.
              </p>
            </div>
          </div>
        </div>

        <div class="container left animate__from left">
          <div class="content">
            <div class="content__headSkyblue adaptiveBG greyscale">
              <h3>
                International Naturopathy Organigation, dilication President
                of India
              </h3>
            </div>
            <div class="content__body">
              <p>
                First national Conference on Yoga and Naturopathy in 2046 Bs
                at Biratnager, Nepal. Photo World Congress (2046 BS)
              </p>
              <p>
                First World Congress on Yoga and Naturopathy in 1998 at
                Kathmandu, Nepal. Photo World Congress.( 1998. AD)
              </p>
              <p>
                Seond World Congress on Yoga and Naturopathy at Kathmandu,
                Nepal. Photo World Congress(.2002.AD)
              </p>
              <p>
                First South Asia (1) Yoga Sports Championship on 6,7,8,9 May
                2017. at National Sports Council, Satdobato, Swimming Pool.
              </p>
              <p>
                First National Yoga Sports Championship on 4,5,6 Jan 2018. at
                Itahari, Sunsari.
              </p>
            </div>
          </div>
        </div>

        <div class="container right animate__from right">
          <div class="content">
            <div class="content__headGrey">
              <h3>
                All India Naturopathy Confrence , Kuru Chetra, Rajastan, India
                2003
              </h3>
            </div>
            <div class="content__body">
              <p>
                First national Conference on Yoga and Naturopathy in 2046 Bs
                at Biratnager, Nepal. Photo World Congress (2046 BS)
              </p>
              <p>
                First World Congress on Yoga and Naturopathy in 1998 at
                Kathmandu, Nepal. Photo World Congress.( 1998. AD)
              </p>
              <p>
                Seond World Congress on Yoga and Naturopathy at Kathmandu,
                Nepal. Photo World Congress(.2002.AD)
              </p>
              <p>
                First South Asia (1) Yoga Sports Championship on 6,7,8,9 May
                2017. at National Sports Council, Satdobato, Swimming Pool.
              </p>
              <p>
                First National Yoga Sports Championship on 4,5,6 Jan 2018. at
                Itahari, Sunsari.
              </p>
            </div>
          </div>
        </div>

        <div class="container left animate__from left">
          <div class="content">
            <div class="content__headPrimary">
              <h3>2nd South Asia yoga sports championship</h3>
            </div>
            <div class="content__body">
              <p>Date: 4, 5, 6 May 2018.</p>
              <p>Venue: Pokhara Regional Stadium, Nepal.</p>
            </div>
          </div>
        </div>

        <div class="container right animate__from right">
          <div class="content">
            <div class="content__headTertiary">
              <h3>International Yoga Sports championship</h3>
            </div>
            <div class="content__body">
              <p>Date: 11, 12, 13 May 2018.</p>
              <p>Venue: Turkey.</p>
            </div>
          </div>
        </div>

        <div class="container left animate__from left">
          <div class="content">
            <div class="content__headSkyblue">
              <h3>International Congress on Neaturopathy Medicine</h3>
            </div>
            <div class="content__body">
              <p>6, 7, 8 July 2018.</p>
              <p>London, United Kingdom.</p>
            </div>
          </div>
        </div>

        <div class="container right animate__from right">
          <div class="content">
            <div class="content__headGrey">
              <h3>World Yoga Sports Championship</h3>
            </div>
            <div class="content__body">
              <p>Date: 1, 2, 3 December 2018.</p>
              <p>Venue: Beijing, China.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="upcoming__events">
      <h2 class="decorative-font animate__scale">Upcoming Events</h2>
      <p class="warning animate__from left delay">No Events Due to COVID-19 restrictions.</p>

    </div>
  </section>


  <!-- footer start -->
  <%-include("partials/footer")-%>