<%-include("partials/header")-%>

  <!-- header end -->

  <!-- Body -->
  <section class="body margin-top-body">
    <div class="recommendation">
      <h2  class="decorative-font">Recommendation Letter</h2>
      <div class="recommendation__gallery">


          <div class="photo__frame">
            <a href="/img/recommendation/1.jpg" data-fancybox="recommendation" data-caption="recommendation Image 1">
              <img src="/img/recommendation/1.jpg" alt="recommendation-letter" />
            </a>
          </div>

          <div class="photo__frame">
            <a href="/img/recommendation/2.jpg" data-fancybox="recommendation" data-caption="recommendation Image 2">
              <img src="/img/recommendation/2.jpg" alt="recommendation-letter" />
            </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/3.jpg" data-fancybox="recommendation" data-caption="recommendation Image 3">
              <img src="/img/recommendation/3.jpg" alt="recommendation-letter" />
            </a>
          </div>
  

        
          <div class="photo__frame">
            <a href="/img/recommendation/4.jpg" data-fancybox="recommendation" data-caption="recommendation Image 4">
              <img src="/img/recommendation/4.jpg" alt="recommendation-letter" />
            </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/5.jpg" data-fancybox="recommendation" data-caption="recommendation Image 5">
              <img src="/img/recommendation/5.jpg" alt="recommendation-letter" />
            </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/6.jpg" data-fancybox="recommendation" data-caption="recommendation Image 6">
              <img src="/img/recommendation/6.jpg" alt="recommendation-letter" />
            </a>
          </div>
  

      
          <div class="photo__frame">
            <a href="/img/recommendation/7.jpg" data-fancybox="recommendation" data-caption="recommendation Image 7">
              <img src="/img/recommendation/7.jpg" alt="recommendation-letter" />
            </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/8.jpg" data-fancybox="recommendation" data-caption="recommendation Image 8">
              <img src="/img/recommendation/8.jpg" alt="recommendation-letter" />
            </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/9.jpg" data-fancybox="recommendation" data-caption="recommendation Image 9">
              <img src="/img/recommendation/9.jpg" alt="recommendation-letter" />
            </a>
          </div>
     

          <div class="photo__frame">
            <a href="/img/recommendation/10.jpg" data-fancybox="recommendation"
                            data-caption="recommendation Image 10">
                  <img
                    src="/img/recommendation/10.jpg"
                    alt="recommendation-letter"
                  />
              </a>
          </div>
          <div class="photo__frame">
            <a href="/img/recommendation/11.jpg" data-fancybox="recommendation"
                            data-caption="recommendation Image 11">
                  <img
                    src="/img/recommendation/11.jpg"
                    alt="recommendation-letter"
                  />
              </a>
          </div>
      
      </div>
    </div>
  </section>


  <!-- footer start -->
  <%-include("partials/footer")-%>