<%-include("partials/header")-%>

<section class="body margin-top-body">
    <H1>
        Research Topics
    </H1>
    <oi>
        <li><h4>Blood Pressure</h4></li>
        <li><h4>Diabetes</h4></li>
        <li><h4>Arthritis</h4></li>
        <li><h4>Paralysis</h4></li>
        <li><h4>Autism</h4></li>
        <li><h4>Asthama</h4></li>
        <li><h4>Back Pain</h4></li>
        <li><h4>Depression and</h4></li>
        <li><h4>Alzheimers</h4></li>
    </oi>
</section>

<!-- footer start -->
<%-include("partials/footer")-%>